# Python 缓存
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# 虚拟环境（如果以后在项目里建）
venv/
.venv/

# 系统杂项
.DS_Store
Thumbs.db

# 大体量中间数据，如果以后有的话再逐步加：
# data_pipelines/*/raw/
# results/tmp/
data_pipelines/065_value_3_4_lr_rise_106_statistics/clean_stage*_inventory_rating.csv
models/fs_ftt_method3/fs_dataset_method3.csv
models/fs_ftt_method4/fs_dataset_method4.csv
